@charset "utf-8";

*{ margin: 0; padding: 0; box-sizing: border-box; }
body,html{ font-size: 12px; }
ol,ul{ list-style: none; }
h1,h2,h3,h4,h5,h6{ font-size: 100%;}
a{ text-decoration: none; color: inherit; }
img{ vertical-align: bottom; }
address,em{ font-style: normal; }
table{ border-collapse: collapse; }
button{ border: none; background: transparent; }

